.imagem {
  display: block;
  margin: 0 auto;
  width: 120px;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: gray;
}

.btnAddImagem {
  width: 90%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
  padding: 6px 11px;
  cursor: pointer;
}
